@model Resturant.Web.Viewmodel.OrderViewModel

@{
    ViewBag.Title = "Register New Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register New Order</h2>

<div class="row">
    <div class="row">
        @Html.LabelFor(m => m.Order.Table.Number, new {@style="inpu"})
        @Html.TextBoxFor(m => m.Order.Table.Number)
    </div>
    <div class="row">
        @Html.LabelFor(m => m.FilterProduct)
        @Html.TextBoxFor(m => m.FilterProduct)
    </div>
    <div id="gridProducts"></div>
    <div class="row">

    </div>
</div>

